* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #4d4d4d;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
    padding: 2em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

.flex-nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    text-align: center;
    background-color: #ff8c00;
}

.flex-nav a {
    display: block;
    padding: .5em .1em;
    text-decoration: none;
    color: white;
    background-color: #ff8c00;
    font-size: 1.3em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

.flex-nav a:hover {
    background-color: black;
    color: white;
}

.flex-nav li {
    flex: 1 1 auto;
    width: 100%;
}

main {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

main img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 20px;
    margin: 0.5em 0em 0.5em 0em;
}

#section1 {
    text-align: center;
}

section {
    padding: 1em 2em 1em 2em;
}

h2 {
    padding-bottom: 0.5em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

.personas {
    flex-direction: row;
    flex-wrap: wrap;
}

.persona {
    max-width: 30em;
}

#color-section {
    margin: auto;
}

#colors {
    margin: auto;
}

#colors td {
    padding: 0.5em;
    width: 20em;
    border: 1px solid black;
}

#colors .palette {
    font-weight: bold;
    padding: 3em;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff8c00;
    color: white;
    height: 8em;
    text-align: center;
}

footer p {
    font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width: 46rem) {
    .flex-nav ul {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 76rem) {
    main {
        margin: 0em 12em 0em 12em;
        max-width: 80%;
    }
}