@media only screen and (min-width: 75rem) {

    /* Header and Nav */

    #top-header {
        width: 80%;
        margin: auto;
    }

    #top-text {
        padding-left: 1em;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 11vw;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    /* Main */
    /* Home Page */

    .home-grid {
        margin: auto;
        width: 90%;
        grid-template-areas:
        'event hero hero spotlights'
        'weather hero hero spotlights'
        'join news news spotlights';
    }

    .home-grid-section {
        min-width: 225px;
    }

    #hero {
        grid-area: hero;
        min-width: 450px;
    }

    #event {
        grid-area: event;
    }

    #weather {
        grid-area: weather;
    }

    #news {
        grid-area: news;
    }

    #spotlights {
        grid-area: spotlights;
    }

    #join {
        grid-area: join;
    }

    #spotlight3 {
        display: block;
    }

    /* Page Main Content */

    .content-main {
        width: 60%;
    }

    /* Footer */

    #footer-top {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

    #footer-bottom {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    
    #footer-bottom .separator {
        display: block;
    }
}