@media only screen and (min-width: 35rem) {

    #top-header {
        padding: 1em;
    }

    nav button {
        display:none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid #4d4d4d;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #4d4d4d;
    }

    .home-grid {
        grid-template-columns: auto;
    }

    #hero {
        grid-column: 1 / 6;
        order: 1;
    }

    #event {
        grid-column: 1 / 5;
        order: 5;
    }

    #weather {
        grid-column: 5 / 6;
        order: 5;
    }

    #news {
        grid-column: 1 / 6;
        order: 2;
    }

    #spotlights {
        grid-column: 1 / 6;
        order: 3;
    }

    #join {
        display: block;
        grid-column: 1 / 6;
        order: 4;
    }

    footer {
        padding: 1em;
    }

    #footer-bottom .separator {
        display: none;
    }

}