* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #4d4d4d;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#top-header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

nav {
    background-color: #ff8c00;
}

/* Hamburger Button Closed */
#hamburgerBtn span:nth-child(1) {display: block; font-size: 1.4em;}
#hamburgerBtn span:nth-child(2) {display: none;}

/* Hamburger Button Opened */
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block; font-size: 1.575em;}

nav ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    background-color: #ff8c00;
}

nav ul.open {
    display: block;
}

nav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    background-color: #ff8c00;
    font-size: 1.3em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    border-top: 1px solid #4d4d4d;
}

nav a:hover {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

h2 {
    padding-bottom: 0.5em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

main {
    margin: auto;
    line-height: 1.5em;
}

footer p {
    font-family: 'Orbitron', sans-serif;
}