* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: #ff8c00;
    text-shadow: 1px 1px 1px black;
}

h1, h3 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

h2 {
    padding-bottom: 0.5em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

p {
    font-family: 'Work Sans', sans-serif;
}

hr {
    border: 1px solid #ff8c00;
    margin: auto;
}

/* Header and Nav */

header {
    background-color: #4d4d4d;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-shadow: 4px 4px 8px #00000050;
}

#social-media {
    position: absolute;
    margin: 0.5em 1em 0 75%;
}

#nav-logo {
    justify-content: center;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

nav {
    background-color: #ff8c00;
}

/* Hamburger Button Closed */
#hamburgerBtn span:nth-child(1) {display: block; font-size: 1.2em;}
#hamburgerBtn span:nth-child(2) {display: none;}

/* Hamburger Button Opened */
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block; font-size: 1.2em;}

nav ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    background-color: #ff8c00;
}

nav ul.open {
    display: block;
}

nav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    background-color: #ff8c00;
    font-size: 1.3em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    border-top: 1px solid #4d4d4d;
}

nav a:hover {
    background-color: black;
    color: white;
}

#todays-date {
    margin: 1.5em auto 1em auto;
    padding: 0.75em;
    text-align: center;
    width: 90%;
    color: white;
    background-color: #686868;
    border: 3px solid #ff8c00;
}

/* Main */

#message-banner {
    background-color: #ffdfd8;
    border-top: 2px solid #ff8c00;
    border-bottom: 2px solid #ff8c00;
    display: none;
}

#message-banner p {
    text-align: center;
    vertical-align: center;
    padding: 0.5em;
}

.home-grid h2 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px #ff8c00;
}

.home-grid p {
    font-size: 1.2em;
}

.home-grid {
    padding: 1em;
    display: grid;
    gap: 1em;
}

.home-grid-section {
    border: 3px solid #ff8c00;
    max-height: fit-content;
    background-color: #ffdfd8;
    padding: 1em;
    box-shadow: 5px 5px 8px #4d4d4d6b;
}

.home-grid-section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#event p {
    font-size: 1.5em;
}

#join {
    display: none;
}

#join-button {
    display: block;
    margin: auto auto 2em auto;
    text-align: center;
    font-size: 1.75em;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    background-color: #4d4d4d;
    color: white;
    border-radius: 20px;
    border: 2px solid #ff8c00;
    padding: 0.5em;
    box-shadow: 3px 3px 8px #4d4d4d;
}

#join-button:hover {
    background-color: black;
}

#join p {
    font-size: 1.5em;
    text-align: center;
}

#spotlights {
    min-height: fit-content;
    padding: 1em;
}

.spotlight-item {
    box-shadow: 0px 5px 10px #4d4d4d;
    min-height: 300px;
    padding: 1em;
}

#spotlight3 {
    display: none;
}

.spotlight-text {
    text-align: center;
    font-style: italic;
    padding: 0.5em;
}

p.spotlight-contact {
    font-size: 1em;
    font-style: normal;
    padding-top: 0.5em;

}

#hero.home-grid-section {
    padding: 0;
    position: relative;
}

#hero-welcome {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#hero-join {
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background-color: #4d4d4d;
    color: white;
    border-radius: 20px;
    border: 2px solid #ff8c00;
    padding: 0.5em;
    box-shadow: 3px 3px 8px #ff8c00;
    text-align: center;
    width: fit-content;
}

#hero-join:hover {
    background-color: black;
}

#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#weather {
    text-align: center;
}

#weather div {
    display: block;
    text-align: center;
}

#weather-image {
    display: inline;
}

#weather div p {
    display: inline;
    position: relative;
    bottom: 10px;
    font-size: 2em;
}

#weather div #weather-condition {
    font-size: 1.5em;
}

#weather hr {
    margin: 1em 0 1em 0;
}

/* Footer */

footer {
    background-color: #4d4d4d;
    color: white;
    padding: 0;
}

#footer-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1em;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#misc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

#footer-bottom .separator {
    display: none;
}

.address {
    font-style: italic;
}

#my-name {
    font-weight: bold;
}
