#profile-pic {
  position: flex;
}
header {
  display: block;
  padding: 1em;
}
header,
footer {
  border-radius: 0px;
  box-shadow: 0px 2px 6px black;
}
main li {
  font-size: larger;
}
main,
p {
  font-size: large;
}
